<!--
<nav [ngStyle]="nav">
    <div  [ngStyle]="logo">   <img src="assets/img/2.jpg" [ngStyle]="logo" class="rounded-circle"> </div>
    <div [ngStyle]="list">
  <h6 [ngStyle]="list"><a routerLink= "/lien1" [style.color]="'white'">Accueil</a></h6>
  <h6 [ngStyle]="list"> <a routerLink= "/lien2" [style.color]="'white'">Produits</a></h6>
    <h6 [ngStyle]="list">  <a routerLink= "/lien3" [style.color]="'white'">contact</a></h6>

  </div>
</nav>



<div class="container">
    <div class="row">


<div class="col-sm-6" >

        col1


       </div>


                   <div class="col-sm-6">

                     col2

                   </div>
             </div>
     </div>
<div class="container-fluid">
   <div class="row">
       <div class="col-sm-9" [ngStyle]="cont">
         <router-outlet></router-outlet>
       </div>
            <div class="col-sm-3" [ngStyle]="cont"> <h2>Aside</h2></div>
             </div>


</div>
<footer [ngStyle]="monStyle"> Nous Contacter !! </footer>-->
